commands:
  01_node_install:
    # run this command from /tmp directory
    cwd: /tmp
    # flag -y for no-interaction installation
    command: 'curl --silent --location https://rpm.nodesource.com/setup_6.x | bash -
 && yum install -y nodejs --enablerepo=epel'

container_commands:
  01_npm_install:
    command: npm install --unsafe-perm